div#objectLoader {
	display: block;
	width: 90%;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	
	background-color: #AEAE8C;
	border: 2px solid #3F4658;
}
div#objectLoader form {
	display: inline;
	width: 49%;
}
div#objectLoader div {
	display: inline;
	visibility: hidden;
	float: right;
	text-align: right;
	line-height: 2em;
}
div#objectLoader div span {
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
}

div#objectExporter {
	display: block;
	visibility: hidden;
	width: 90%;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	
	background-color: #BEEA93;
	border-left: 2px solid #3F4658;
	border-right: 2px solid #3F4658;
	border-bottom: 2px solid #3F4658;
}
div#objectExporter form {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


div#objectView {
	visibility: hidden;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	background-color: #AEAE8C;
	border: 2px solid #3F4658;
}
