div#objectLoader {
	display: block;
	width: 90%;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	
	background-color: #AEAE8C;
	border: 2px solid #3F4658;
}
div#objectLoader form {
	display: inline;
	width: 49%;
}
div#objectLoader div {
	display: inline;
	visibility: hidden;
	float: right;
	text-align: right;
	line-height: 2em;
}
div#objectLoader div span {
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
}

div#objectExporter {
	width: 90%;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	
	background-color: #BEEA93;
	border-left: 2px solid #3F4658;
	border-right: 2px solid #3F4658;
	border-bottom: 2px solid #3F4658;
}
div#objectExporter form {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div#instructions {
	width: 90%;
	margin: 3px auto;
	padding: 5px;
	background-color: #AEAE8C;
	border: 2px solid #3F4658;
}

div#objectView {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 0.25em;
	background-color: #AEAE8C;
	border: 2px solid #3F4658;
}
div#objectView>div {
	padding: 1em;
}

div.settingsToolbar {
	float: left;
	margin-left: 1em;
	margin-right: 3em;
	line-height: 3em;
}
div.settingsToolbar input[type=submit] {
	padding: 1px;
}

table#objectEditor td>input {
	font-size: small;
	padding: 0;
	margin: 0;
	border: none;
	background-color: #CCFFCC;
}

a.rowRemoveLink {
	float: left;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
a.rowRemoveLink img {
	height: 12px;
}

div#loading {
	display: none;
	width: 30px;
	height: 30px;
	margin: 20% auto;
}
div#loading img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.displayOnLoad {
	display: none;
}
